H1 {
  color:  #0003;
color:  #1F2330;
color:  #202431;
color:  #232635;
color:  #5e6063;
color:  #25293A;
color:  #262A39;
color:  #272B3B;
color:  #282B3C;
color:  #282C3D;
color:  #292D3E00;
color:  #2B2F40;
color:  #2C3043;
color:  #2E3245;
color:  #2E3248;
color:  #2e3249;
color:  #2E3250;
color:  #30364c;
color:  #31364a;
color:  #32374C;
color:  #32374D;
color:  #383D51;
color:  #3C435E;
color:  #414863;
color:  #4c5374;
color:  #4E557980;
color:  #64B5F6;
color:  #64b5f6f2;
color:  #676E95;
color:  #694CA466;
color:  #694CA4cc;
color:  #697098;
color:  #6C739A;
color:  #7580B850;
color:  #7e57c2;
color:  #7e57c25a;
color:  #7e57c273;
color:  #7e57c2cc;
color:  #7e57c2e3;
color:  #80CBC4;
color:  #82AAFF;
color:  #89DDFF;
color:  #929ac9;
color:  #929ac90d;
color:  #99b76d23;
color:  #9CCC65;
color:  #a9c77d;
color:  #a9c77d33;
color:  #a9c77dff;
color:  #BFC7D5;
color:  #bfc7d580;
color:  #C3E88D;
color:  #C792EA;
color:  #d1aaff;
color:  #e2b93d;
color:  #e2c08de6;
color:  #eeefff;
color:  #eeffff;
color:  #EF5350;
color:  #ef535033;
color:  #ef53504d;
color:  #EF535090;
color:  #ef5350f2;
color:  #ff5572;
color:  #FFCA28;
color:  #ffca28f2;
color:  #FFCB6B;
color:  #FFEB95CC;
color:  #fff;
color:  #ffffff;
color:  #ffffffcc;

}
